$background-color: #433567;
$color: #fff;
$font-size: 20px;

.todosNav__menu {
  background-color: $background-color;
}

.todosNav__link {
  list-style: none;
  color: $color;
}

.todosNav__icon {
  list-style: none;
  color: white;
  font-size: $font-size;
}
