$color: white;

.todosStatistics__statusCount--done {
  background-color: #28a745;
  color: $color;
}

.todosStatistics__statusCount--inprogress {
  background-color: #ffc107;
  color: $color;
}

.todosStatistics__statusCount--todo {
  background-color: #dc3545;
  color: $color;
}
