$white_color: white;
$green_color: #28a745;
$orange_color: #ffc107;
$red_color: #dc3545;
$grey_color: #999999;

.todosStatistics__statusCount--done {
  background-color: $green_color;
  color: $white_color;
  cursor: pointer;
}

.todosStatistics__statusCount--inprogress {
  background-color: $orange_color;
  color: $white_color;
  cursor: pointer;
}

.todosStatistics__statusCount--todo {
  background-color: $red_color;
  color: $white_color;
  cursor: pointer;
}

.todosStatistics__statusDone {
  background-color: $white_color;
  color: $green_color;
}

.todosStatistics__statusInprogress {
  background-color: $white_color;
  color: $orange_color;
}

.todosStatistics__statusTodo {
  background-color: $white_color;
  color: $red_color;
}

.selected {
  background-color: $grey_color;

  .todosStatistics__statusDone--quantity,
  .todosStatistics__statusInprogress--quantity,
  .todosStatistics__statusTodo--quantity {
    color: $grey_color;
  }
}
